body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type='tel'],
input[type='textarea'],
input[type='number'] {
    width: 66%;
    padding: 7px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: transparent;
}
#id_city{
    background-color: transparent;
    width: 66%;
    padding: 7px;
    margin: 5px 0 10px 0;
    border: 1px solid #000000;
    border-radius: 40px;
    background-color: transparent;
}
textarea {
    margin-top: 7px;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: transparent;
}

input[type="submit"] {
    width: 66%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

* {
    margin: 0;
    padding: 0;
}


header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    background-color: rgb(0, 0, 0);
}

.logo {
    height: 5rem;
    width: 5rem;
}

.logo-pic {
    height: 4rem;
    padding-top: 2px;
    padding-left: 10px;
}

.name {
    height: 5rem;
    width: 15rem;
}

.name-pic {
    height: 3rem;
    width: 12rem;
    padding-top: 20px;
    padding-left: 4px;
}

.fa-solid,
.fa-regular {
    position: absolute;
    text-align: center;
    padding-top: 29px;
    color: #ffffff;
    font-size: 19px;
    text-transform: none !important;
}

.home-tab,
.customer-tab,
.worker-tab,
.aboutus-tab,
.contactus-tab {
    width: 7rem;
    height: 5rem;
}

.home-tab {
    width: 6rem;
}

.worker-tab {
    width: 6rem;
}

.home-tab-text,
.customer-tab-text,
.worker-tab-text,
.aboutus-tab-text,
.contactus-tab-text {
    color: rgb(255, 255, 255);
    margin-left: 7px;
    text-transform: none !important;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.fmy-signup-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #2b67a0, white);
    height: 55rem;
}

.fmy-signup {
    width: 34rem;
    height: 35rem;
    border-radius: 6px;
    box-shadow: 0 0 10px #000;
    padding: 30px;
}

.fmy-signup-p {
    font-family: "Cormorant Garamond", serif;
    font-weight: 626;
    font-style: normal;
    font-size: 30px;
}

.fmy-logo-img {
    margin-left: 5rem;
}

.animate__animated.animate__slideInRight,
.animate__animated.animate__slideInLeft {
    --animate-duration: 6s;
}

footer {
    background: #051323f7;
    width: 100%;
    height: 30rem;
    color: #fff;

}

.nav-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 156px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-footeritems {
    margin-top: 47px;
}

.nav-a {
    text-decoration: none;
    color: #fff;
}

.line-foot {
    color: #ffffff40;
    margin-top: 50px;
}

.cont-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 56px;
}

.foot-fmy {
    width: 28rem;
    height: 7rem;
    background: url(./fmy_footer_trans_1.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.nav-footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 69px;
    padding-top: 76px;
    position: relative;
    bottom: 30px;
}

.fab {
    color: #fff;
    font-size: 23px;
}

.copyright {
    text-align: center;
    padding-top: 12px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 413;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    top: 32px;
    height: 3rem;
    font-size: 18px;
}

.para-foot {
    padding-top: 12px;
}

.navbar .transition-transform:hover {
    transform: scale(1.2);
}

.navbar .transition-transform {
    transition: transform 0.3s;
}

.navbar .transition-transform:hover {
    transform: scale(1.2);
}

.navbar .transition-transform {
    transition: transform 0.3s;
}

.fab:hover {
    transform: scale(1.2);
}

.fab {
    transition: transform 0.3s;
}

.nav-footeritems:hover {
    transform: scale(1.2);
}

.nav-footeritems {
    transition: transform 0.3s;
}

.fmy-logo:hover {
    transform: scale(1.1);
}

.fmy-logo {
    transition: transform 0.3s;
}

.nav-a:hover {
    transform: scale(1.2);
}

.nav-a {
    transition: transform 0.3s;
}

.form-font {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

}